@font-face {
  font-family: Lato-Regular;
  src: local('Lato-Regular'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Lato-Italic;
  src: local('Lato-Italic'), url(./fonts/Lato-Italic.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Lato-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
